{{#each posts as |post|}}
<form>
    <div class="post">
        <a class="post-link" href="/post/{{post.id}}">{{post.title}}</a>
        <span>Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>
    <div>
        <p>{{post.post_text}}</p>
    </div>
</form>
{{/each}}